# R

In [1]:
df = read.csv('Data.csv')

In [2]:
df

   Country Age Salary Purchased
1  France  44  72000  No
2  Spain   27  48000  Yes
3  Germany 30  54000  No
4  Spain   38  61000  No
5  Germany 40     NA  Yes
6  France  35  58000  Yes
7  Spain   NA  52000  No
8  France  48  79000  Yes
9  Germany 50  83000  No
10 France  37  67000  Yes

In [3]:
df$Age

 [1] 44 27 30 38 40 35 NA 48 50 37

In [4]:
df[2] # recordar que indices comienzan desde 1 en R

   Age
1  44
2  27
3  30
4  38
5  40
6  35
7  NA
8  48
9  50
10 37

## tratamiento de los NA

In [5]:
# ave() permite poner una funcion a una lista
# FUN = function(x) mean(x, na.rm=TRUE)) se parece harto a js
# aqui mean() viene de base, no hay que importar librerias
df$Age = ifelse(is.na(df$Age),
                ave(df$Age, FUN= function(x) mean(x, na.rm=TRUE)),
                df$Age)
df$Age

 [1] 44.00000 27.00000 30.00000 38.00000 40.00000 35.00000 38.77778 48.00000
 [9] 50.00000 37.00000

In [6]:
# copiar y pegar pero ahora con "Salary"
df$Salary = ifelse(is.na(df$Salary),
                ave(df$Salary, FUN= function(x) mean(x, na.rm=TRUE)),
                df$Salary)
df$Salary

 [1] 72000.00 48000.00 54000.00 61000.00 63777.78 58000.00 52000.00 79000.00
 [9] 83000.00 67000.00

In [7]:
df

   Country Age      Salary   Purchased
1  France  44.00000 72000.00 No
2  Spain   27.00000 48000.00 Yes
3  Germany 30.00000 54000.00 No
4  Spain   38.00000 61000.00 No
5  Germany 40.00000 63777.78 Yes
6  France  35.00000 58000.00 Yes
7  Spain   38.77778 52000.00 No
8  France  48.00000 79000.00 Yes
9  Germany 50.00000 83000.00 No
10 France  37.00000 67000.00 Yes

## codificacion datos categoricos

In [8]:
df$Country = factor(df$Country,
                levels = c("France", "Spain", "Germany"),
                labels = c(1, 2, 3))

df$Purchased = factor(df$Purchased,
                levels = c("No", "Yes"),
                labels = c(0, 1))
df

   Country Age      Salary   Purchased
1  1       44.00000 72000.00 0
2  2       27.00000 48000.00 1
3  3       30.00000 54000.00 0
4  2       38.00000 61000.00 0
5  3       40.00000 63777.78 1
6  1       35.00000 58000.00 1
7  2       38.77778 52000.00 0
8  1       48.00000 79000.00 1
9  3       50.00000 83000.00 0
10 1       37.00000 67000.00 1

## dividir entre datos de entrenamiento y datos de testing

In [9]:
# instalo paquete pa dividir los datos
# install.packages("caTools")
# lo hice en la terminal (sudo R, y despues puse "install.p ...")

In [11]:
require("caTools")

Loading required package: caTools

In [13]:
# split es simplemente un vector con falso o verdadero del tamaño de df$Purchased
set.seed(123)
split = sample.split(df$Purchased, SplitRatio=0.8)
split

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE FALSE  TRUE

In [19]:
# ahora dividomos los datos
trainSet = subset(df, split==TRUE)
testSet = subset(df, split==FALSE)
testSet

  Country Age Salary Purchased
6 1       35  58000  1
9 3       50  83000  0

## Normalización y estandarización de los datos
$$ x_{stand} = \frac{x-\bar{x}}{\sigma_x}, \quad\quad\quad       x_{norm} = \frac{x-x_{min}}{x_{max}-x_{min}} $$

In [23]:
trainSet[,2:3] = scale(trainSet[,2:3])
testSet[,2:3] = scale(testSet[,2:3])
trainSet

   Country Age         Salary     Purchased
1  1        0.90101716  0.9392746 0
2  2       -1.58847494 -1.3371160 1
3  3       -1.14915281 -0.7680183 0
4  2        0.02237289 -0.1040711 0
5  3        0.31525431  0.1594000 1
7  2        0.13627122 -0.9577176 0
8  1        1.48678000  1.6032218 1
10 1       -0.12406783  0.4650265 1