In [1]:
import pandas as pd

In [2]:
# creo un dataframe con datos duplicados
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z']+['v'], 
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4,5]})
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [3]:
# para ver los duplicados uso .duplicated()
# lo que hace es ponerle false al primero que encuentra, y true a las copias
df.duplicated()

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [4]:
# puedo borrar los duplicados restandolos
df[~df.duplicated()]

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [6]:
# tambien se puede hacer con la funcion .drop_duplicates()
df.drop_duplicates()

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [11]:
# se puede eliminar los duplicados de solo una fila
df2 = pd.DataFrame({'letras':['a', 'a', 'b', 'c'],
                    'numeros':[1, 2, 3, 3]})
df2.drop_duplicates(['letras'])

  letras  numeros
0      a        1
2      b        3
3      c        3

In [12]:
df2.drop_duplicates(['numeros'])

  letras  numeros
0      a        1
1      a        2
2      b        3