In [46]:
import pandas as pd

In [47]:
df_pob = pd.read_csv("poblacion.csv")

In [48]:
# pop = population = poblacion = pob
df_pob

                       Country  year           pop
0                  Afghanistan  2015  3.441360e+07
1                      Albania  2015  2.880703e+06
2                      Algeria  2015  3.972802e+07
3               American Samoa  2015  5.581200e+04
4                      Andorra  2015  7.801100e+04
...                        ...   ...           ...
1035  Pre-demographic dividend  2018  9.194854e+08
1036              Small states  2018  4.057532e+07
1037                South Asia  2018  1.814389e+09
1038   South Asia (IDA & IBRD)  2018  1.814389e+09
1039        Sub-Saharan Africa  2018  1.078307e+09

[1040 rows x 3 columns]

In [49]:
df_pob.dtypes

Country     object
year         int64
pop        float64
dtype: object

In [50]:
# cambio el tipo del año, pues aparece que su tipo es int64, lo cambio a una variable categórica
df_pob['year'] = pd.Categorical(df_pob['year'].apply(str)) 
# .apply(str) sirve para que despues al elegir los indices no mande error
df_pob.dtypes

Country      object
year       category
pop         float64
dtype: object

In [51]:
# ahora tomo solo algunos paices, primero hago un filtro y luego lo aplico
# filtro:
filtro = df_pob['Country'].isin(['Aruba', 'Colombia'])
filtro # es falso para todos los paices pero verdadero para colombia y aruba

0       False
1       False
2       False
3       False
4       False
        ...
1035    False
1036    False
1037    False
1038    False
1039    False
Name: Country, Length: 1040, dtype: bool

In [52]:
df_filtrado = df_pob[filtro]
df_filtrado

      Country  year         pop
9       Aruba  2015    104341.0
42   Colombia  2015  47520667.0
269     Aruba  2016    104872.0
302  Colombia  2016  48171392.0
529     Aruba  2017    105366.0
562  Colombia  2017  48901066.0
789     Aruba  2018    105845.0
822  Colombia  2018  49648685.0

In [53]:
# Notemos que esto está muy desordenado, probamos con distintos ordenes para ver cual se ve mejor
ordenado_fecha = df_filtrado.set_index("year").sort_index()
ordenado_fecha

       Country         pop
year
2015     Aruba    104341.0
2015  Colombia  47520667.0
2016     Aruba    104872.0
2016  Colombia  48171392.0
2017     Aruba    105366.0
2017  Colombia  48901066.0
2018     Aruba    105845.0
2018  Colombia  49648685.0

In [54]:
ordenado_pais = df_filtrado.set_index("Country").sort_index()
ordenado_pais

          year         pop
Country
Aruba     2015    104341.0
Aruba     2016    104872.0
Aruba     2017    105366.0
Aruba     2018    105845.0
Colombia  2015  47520667.0
Colombia  2016  48171392.0
Colombia  2017  48901066.0
Colombia  2018  49648685.0

In [55]:
# hasta que llegamos a ordenar con 2 indices (lo que le da titulo al .ipynb, multiplesIndices)
ordenado_pais_y_fecha = df_filtrado.set_index(["Country", 'year']).sort_index()
ordenado_pais_y_fecha

                      pop
Country  year
Aruba    2015    104341.0
         2016    104872.0
         2017    105366.0
         2018    105845.0
Colombia 2015  47520667.0
         2016  48171392.0
         2017  48901066.0
         2018  49648685.0

In [56]:
# con multiples indices puedo seleccionar facilmente
print(ordenado_pais_y_fecha.loc['Colombia'])
print(ordenado_pais_y_fecha.loc['Colombia'].loc['2017'])

             pop
year
2015  47520667.0
2016  48171392.0
2017  48901066.0
2018  49648685.0
pop    48901066.0
Name: 2017, dtype: float64

In [57]:
# podemos hacer lo anterior más rápido con xs()
ordenado_pais_y_fecha.xs(['Aruba', '2018'])

pop    105845.0
Name: (Aruba, 2018), dtype: float64

In [58]:
# además con xs podemos elegir indices sin importar que tan profundos esten
# ej: lo siguiente da error porque lo que tenemos que elegir primero es el pais y luego el año
# print(ordenado_pais_y_fecha.loc['2018'])
# con xs podemos hacerlo facilmente, poniendo que elegimos en el indice "year"
print(ordenado_pais_y_fecha.xs('2018', level='year'))

                 pop
Country
Aruba       105845.0
Colombia  49648685.0

In [59]:
# ordenamos todo nuestro df_pob pa jugar
df_pob = df_pob.set_index(["Country", 'year']).sort_index()
df_pob

                         pop
Country     year
Afghanistan 2015  34413603.0
            2016  35383128.0
            2017  36296400.0
            2018  37172386.0
Albania     2015   2880703.0
...                      ...
Zambia      2018  17351822.0
Zimbabwe    2015  13814629.0
            2016  14030390.0
            2017  14236745.0
            2018  14439018.0

[1040 rows x 1 columns]

In [ ]:
# podemos ver los indices 
df_pob.index